
.hideform {
    visibility: hidden;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif') 50% 50% no-repeat;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

input#txtImage {
    height: 45px;
}

.error {
    color: red;
}

.display-img {
    margin-bottom: 6px;
}

table.table.table-striped.table-bordered.table-hover {
    text-align: center;
    width: 100%;
}

.table.table-striped a {
    text-decoration: none;
    color: black;
}

.row.table {
    margin: 0px;
}

#listCategory, #listUnit, #listMember {
    margin-top: 10px;
}

input#searchCategoryContent {
    width: 246px;
    height: 37px;
    border: 0.5px solid black;
}

input#searchUnitContent, input#searchMemberContent {
    width: 246px;
    height: 37px;
    border: 0.5px solid black;
}

button#searchCategory {
    margin-bottom: 7px;
}

button#searchUnit, button#searchMember {
    margin-bottom: 7px;
}

form_category_main, form_unit_main, form_member_main {
    width: 100%;
}

.form_category_main h4, .form_unit_main h4, .form_member_main h4 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
}

.heading_category, .heading_unit, .heading_member {
    border-bottom: 1px solid #fcab0e;
    padding-bottom: 9px;
    position: relative;
}

    .heading_category span, .heading_unit span, .heading_member span {
        background: #9e6600 none repeat scroll 0 0;
        bottom: -2px;
        height: 3px;
        left: 0;
        position: absolute;
        width: 75px;
    }

.form_category, .form_unit, .form_member {
    border-radius: 7px;
    padding: 6px;
}


.txtCategory[type="text"], .txtUnit[type="text"], .txtMember[type="text"] {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}


.txt2Category[type="submit"], .txt2Unit[type="submit"], .txt2Member[type="submit"] {
    background: #242424 none repeat scroll 0 0;
    border: 1px solid #4f5c04;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 30%;
}

.txt2Category[type="button"], .txt2Unit[type="button"], .txt2Member[type="button"] {
    background: #242424 none repeat scroll 0 0;
    border: 1px solid #4f5c04;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 30%;
}

.txt2Category:hover, txt2Unit:hover, txt2Member:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #5793ef;
    transition: all 0.5s ease 0s;
}

input#searchCategoryContent {
    padding-left: 10px;
    margin-left: 57px;
}

input#searchUnitContent, input#searchMemberContent {
    padding-left: 10px;
    margin-left: 58px;
}

p.p-text {
    margin-left: 2%;
    width: 97%;
    margin-top: 12px;
}

i.fas.fa-pen-alt {
    color: #007bff;
}

.dropdown {
    width: 150px;
    margin-top: 6px;
    height: 39px;
}

.dateMember {
    width: 200px;
    height: 41px;
    margin-top: 12px;
}

.fileExcel {
    margin-bottom: 10px;
}

select#selectUnitId {
    height: 38px;
    margin-left: 0px;
    width: 180px;
}

select#selectCategoryId {
    height: 38px;
    width: 180px;
    margin-left: 40px;
}

a#addQuestionBank,a#addSchedule {
    color: #fff;
}

button#searchQuestionBank {
    margin-top: -8px;
}

.text-questionbank p {
    margin-left: 16px;
    width: 97%;
    margin-top: 9px;
    color: red;
}

select#selectCategoryId {
    margin-left: 0px;
    margin-bottom: 0px;
    width: 188px;
}

ul.navbar-nav.ml-auto.ml-md-0 {
    margin-top: -12px;
}

.namequestiongroup {
    margin-top: 8px;
}

select#selectGroupId,select#selectType {
    width: 217px;
    height: 35px;
}

button#searchQuestion {
    margin-top: -5px;
}

hr{
    border: 1px solid red;
}

select.isCorrect {
    border: 1px solid red;
    margin-top: 3px;
}

.editor button {
    width: 31px;
    margin-top: 6px;
}

label#file-error {
    display: block;
}

.row.table.question {
    margin-top: 20px;
}

i.fas.fa-list.coni {
    width: 29%;
}

i.fas.fa-user-tie.coni {
    width: 29%;
}


.col-md-12.redexam h4 {
    color: #5d8f3e;
}

button#createExam {
    margin-left: 14px;
    margin-top: 10px;
}

button#viewExam, #adduser {
    margin-top: 8px;
    margin-left: 20px;
}

#viewUser {
    margin-top: 8px;
    margin-left: 20px;
}

#viewUser2 {
    margin-top: 1px;
    margin-left: 20px;
}

ul.answerlist{
    list-style:none;
}

.questionContent p {
    font-style: italic;
    color: red;
}

.question img{
    width : 250px;
    height : 250px;
}

.True {
    font-style: italic;
    color: deepskyblue;
}

.isanswercorrect p {
    display: inline;
}

.answerlist img{
    display:block;
    width:250px;
    height:250px;
}

select#selectUnit {
    width: 190px;
    margin-left: 10px;
    margin-bottom:30px;
}

button#sendEmail {
    margin-left: 13px;
    margin-right:20px;
    height:39px;
}

button#submitexam {
    width: 200px;
    margin-bottom: 10px;
    margin-left: 30px;
}
h2#report {
    margin-top: 30px;
    margin-bottom: 40px;
}

button#backprev {
    margin-top: 40px;
    float: right;
}

button#exportallmember, #exportaccessmember,#exportnotaccessmember {
    margin-left: 13px;
    height:38px;
}

button#backprev1 {
    width: 150px;
    margin-left: 10px;
    margin-bottom: 10px;
}

button#exportmemberpass {
    margin-left: 13px;
    height:38px;
}

button#backprev12 {
    width: 150px;
    margin-top: 9px;
    margin-left: 15px;
}

button#backprev09 {
    margin-left: 20px;
}
div#countdowntimer {
    position: fixed;
    top: -1px;
}