
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}





@section script{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <script src="~/js/userside.js"></script>

}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 style="color : red"> Danh sách bài thi </h3>
            <hr />
        </div>
    </div>

    <div class="row text-questionbank">

        <p>
            *Lưu ý : Thí sinh chỉ có thể xem và hoàn thành bài thi  1 lần trong thời gian quy định, nếu tự ý thoát trong khi thi bài thi sẽ bị đánh trượt, thí sinh có thể xem kết quả
            khi kì thi kết thúc.
        </p>
    </div>


    <div id="listuserschedule">
    </div>
    <div id="pagination" class="pagination"></div>


</div>





