
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}





@section script{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <script src="~/js/userside.js"></script>

}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 style="color : red"> Danh sách bài thi </h3>
            <hr />
        </div>
    </div>


    <div id="listuserschedule">
    </div>
    <div id="pagination" class="pagination"></div>

    
</div>





