
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@section title{
    Danh sách đơn vị
}




<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="form_unit_main">
        <h4 class="heading_unit"><strong>Thêm Mới </strong></h4>
        <div class="form_unit">
            <form action="~/Admin/TestUnit/Add" method="post" id="addunitfrm" name="addUnitFrm" enctype="multipart/form-data">
                <input type="text" placeholder="Vui lòng nhập vào tên đơn vị" name="Name" class="txtUnit">

                <input type="text" placeholder="Nhập vào số điện thoại" name="PhoneNumber" class="txtUnit">
                <input type="text" placeholder="Nhập vào địa chỉ" name="Address" class="txtUnit">
                <input type="submit" value="Xác nhận" name="submit" class="txt2Unit">
                <input type="button" value="Quay lại" name="submit" class="txt2Unit" id="backListUnit">

            </form>
        </div>
    </div>
</div>
<div class="col-md-2>"></div>

