
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section title{
    Danh sách đơn vị
}

@section script{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <script src="~/js/unit.js"></script>

}
<div class="row">
    <div class="col-md-3">
        <a href="~/Admin/TestUnit/Add" class="btn btn-danger">Thêm mới</a>
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-4">
        <input type="text" name="name" id="searchUnitContent" />
        <button class="btn btn-danger" id="searchUnit">Tìm kiếm</button>
    </div>

</div>
<div class="row">
    <p style="color:red ; font-size:15px;" class="p-text"> Đơn vị là một nhóm học viên, nhân viên như phòng Kế toán, phòng Kinh doanh, Lớp 12A.</p>
</div>


<div id="listUnit">
</div>
<div id="pagination" class="pagination"></div>