
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 banner">
    </div>
</div>

<!-- content -->
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 item">
        <div class="header">
            <div class="img"><img src="https://localhost:44380/img/bank.png" alt="logo"></div>
            NGÂN HÀNG CÂU HỎI
        </div>
        <div class="text-bottom">
            <p>
                Tạo ra các câu hỏi trắc nghiệm bao gồm text và hình ảnh, câu hỏi chọn một hoặc chọn nhiều. Các câu hỏi được
                nhóm theo chủ đề, độ khó hay các lớp thí sinh. Hỗ trợ nhập từng câu hoặc nhập hàng loạt từ file excel
            </p>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 item">
        <div class="header">
            <div class="img"><img src="https://localhost:44380/img/initest.png" alt="logo"></div>
            HÌNH THÀNH ĐỢT THI
        </div>
        <div class="text-bottom">
            <p>
                Công cụ trộn đề tự động từ ngân hàng câu hỏi với số lượng câu, cơ cấu lĩnh vực, mức độ khó được thiết lập
                sẵn.Tuỳ chọn cho thí sinh làm chung đề hay đề khác nhau. Đợt thi chỉ ra khoảng thời gian có thể thi, thời gian
                làm bài, mức độ đạt yêu cầu và gán cho thí sinh.
            </p>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 item">
        <div class="header">
            <div class="img"><img src="https://localhost:44380/img/online.png" alt="logo"></div>
            THI TRỰC TUYẾN
        </div>
        <div class="text-bottom">
            <p>
                Công cụ trộn đề tự động từ ngân hàng câu hỏi với số lượng câu, cơ cấu lĩnh vực, mức độ khó được thiết lập
                sẵn.Tuỳ chọn cho thí sinh làm chung đề hay đề khác nhau. Đợt thi chỉ ra khoảng thời gian có thể thi, thời gian
                làm bài, mức độ đạt yêu cầu và gán cho thí sinh.
            </p>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 item">
        <div class="header">
            <div class="img"><img src="https://localhost:44380/img/result.png" alt="logo"></div>
            KẾT QUẢ VÀ PHÂN TÍCH
        </div>
        <div class="text-bottom">
            <p>
                Công cụ trộn đề tự động từ ngân hàng câu hỏi với số lượng câu, cơ cấu lĩnh vực, mức độ khó được thiết lập
                sẵn.Tuỳ chọn cho thí sinh làm chung đề hay đề khác nhau. Đợt thi chỉ ra khoảng thời gian có thể thi, thời gian
                làm bài, mức độ đạt yêu cầu và gán cho thí sinh.
            </p>
        </div>
    </div>


    <!-- feature -->



</div>

<!-- feature -->
<div class="row parentvideo">
    <div class="col-md-6 video">
        <div class="anh">

        </div>
    </div>
    <div class="col-md-6 feature">
        <h2>CÁC TÍNH NĂNG NỔI BẬT</h2>
        <p>
            Xuất phát từ nhu cầu tuyển dụng, đào tạo nội bộ của các doanh nghiệp chúng tôi đã tạo ra công cụ giúp việc test
            trở nên dễ dàng hơn. Hệ thống thi trắc nghiệm tổng thể cho các doanh nghiệp và trung tâm đào tạo với nhiều tính
            năng vượt trội:
        </p>
        <ul class="list">
            <li>Bảo mật dữ liệu</li>
            <li>Dễ dàng tạo ra các đợt thi</li>
            <li>Không cần cài đặt phần mềm</li>
            <li>Tự động chấm thi và xem kết quả ngay</li>
            <li>Không cần đầu tư phần cứng, phần mềm</li>
        </ul>
        <p>
            Website đặc biệt hữu dụng cho doanh nghiệp trong việc tuyển dụng nhân sự, đào tạo nội bộ, đánh giá sát hạch định
            kỳ
        </p>

        <button class="btn btn-danger">Đăng kí sử dụng</button>
    </div>
</div>

<!-- benefit -->
<div class="row benefit">
    <div class="col-md-12">
        <h3>NHỮNG LỢI ÍCH KHI BẠN SỬ DỤNG DỊCH VỤ CỦA CHÚNG TÔI</h3>
    </div>

    <div class="col-md-4 item-benefit">
        <div class="img"><img src="https://localhost:44380/img/rangcua.png" alt=""></div>
        <div class="head">TIẾT KIỆM CHI PHÍ</div>
        <div class="text">
            <ul class="content">
                <li>Không cần đầu tư phần cứng, phần mềm, hệ thống mạng.</li>
                <li>Không cần nhân sự vận hành.</li>
                <li>Không cần nhân sự ra đề, chấm thi</li>
                <li>Không cần giấy bút, in ấn, lưu trữ.</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 item-benefit">
        <div class="img"><img src="https://localhost:44380/img/chiphi.png" alt=""></div>
        <div class="head">HIỆU QUẢ</div>
        <div class="text">
            <ul class="content">
                <li>
                    Kho câu hỏi phủ kín các kiến thức cần trang bị được tích luỹ và tái sử dụng nhiều lần trở thành kho kiến
                    thức chuyên môn nghiệp vụ của doanh nghiệp.
                </li>
                <li>Sơ loại ứng viên trước khi vào vòng phỏng vấn, tiết kiệm chi phí tuyển dụng</li>
                <li>Đào tạo nhân viên thông qua các bài test, tạo ra văn hoá bồi dưỡng kiến thức và sát hạch liên tục.</li>
                <li>Đánh giá chính xác trình độ chuyên môn của nhân viên để phân loại, xếp hạng, xét lương</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 item-benefit">
        <div class="img"><img src="https://localhost:44380/img/initest.png" alt=""></div>
        <div class="head">NHANH CHÓNG</div>
        <div class="text">
            <ul class="content">
                <li>Mọi thứ đều thực hiện online, không cần giấy bút</li>
                <li>
                    Công cụ trộn đề, sinh đề, giao đề thi cho thí sinh hoàn toàn tự động, 5 phút để tạo xong một đợt thi cho
                    hàng nghìn người.
                </li>
                <li>Chấm thi tự động, chính xác tuyệt đối, biết kết quả ngay sau khi hoàn thành bài thi.</li>
                <li>Giao diện đơn giản trực quan</li>
            </ul>
        </div>
    </div>

</div>

