
@{
    ViewData["Title"] = "RegisterAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row register">
    <div class="col-md-3"></div>
    <div class="col-md-6 content">
        <h3>ĐĂNG KÝ DỊCH VỤ</h3>
        <p>Tạo nhanh các bài test trực tuyến</p>
        @using (Html.BeginForm("RegisterAdmin", "Home", FormMethod.Post, new { @id = "registerAdmin" }))
        {
            <div class="form-group ">
                <label>Tài khoản <span style="color: red">*</span></label>
                <input class="form-control" id="UserName" name="UserName"  placeholder="Nhập vào tên tài khoản lớn hơn 5 và nhỏ hơn 30 ký tự">
            </div>
            <div class="form-group ">
                <label>Email  <span style="color: red">*</span></label>
                <input class="form-control" id="Email" name="Email" placeholder="Nhập vào Email của bạn để lấy lại mật khẩu khi cần thiết">
            </div>
            <div class="form-group">
                <label>Họ tên  <span style="color: red">*</span></label>
                <input class="form-control" id="FullName" name="FullName" placeholder="Nhập vào họ tên của bạn">
            </div>

            <div class="form-group">
                <label>Số điện thoại</label>
                <input class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="Nhập vào số điện thoại của bạn">
            </div>

            <div class="form-group">
                <label>Địa chỉ</label>
                <input class="form-control" id="Address" name="Address" placeholder="Nhập vào địa chỉ của bạn">
            </div>

            <div class="form-group required">
                <label>Mật khẩu  <span style="color: red">*</span></label>
                <input type="password" id="Password" class="form-control" name="Password" placeholder="Nhập vào mật khẩu của bạn ít nhất 6 ký tự">
            </div>
            <div class="form-group required">
                <label>Nhập lại mật khẩu  <span style="color: red">*</span></label>
                <input type="password" id="ConfirmPassword" class="form-control" name="ConfirmPassword" placeholder="Nhập lại mật khẩu của bạn">
            </div>
            <button type="submit" class="btn btn-danger">Đăng ký</button>
        }
    </div>
    <div class="col-md-3"></div>
</div>

