
@{
    ViewData["Title"] = "Tearms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <div class="row">
            <h3>Cảm ơn đã sử dụng dịch vụ của chúng tôi</h3>
        </div>

        <div class="row">
            <p> Điện thoại : 0387516825</p>
        </div>
        <div class="row">
            <p> Địa chỉ email : supporttest@gmail.com</p>
        </div>

        <div class="row">
            <p>Facebook : facebook.com/anhnt411</p>
        </div>

    </div>
  


