
@{
    ViewData["Title"] = "Xác thực Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="box">
        <h2>Thank You<br><span>Email Confirmed</span></h2>
        <p>
            You can now successfuly login. You have full access to our products and services.
        </p>
        <a class="btn btn-primary btn-block" href="/dangnhapquantri">LOGIN</a>
    </div>
</div>
