@using TestOnlineEntity.Model.Entity;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    //TempData["success"] = TempData["updatesuccess"];

    var listCategory = new List<TestCategory>();
    listCategory = ViewBag.ListCategory;
    var firstItem = listCategory.FirstOrDefault().Id;
    TempData["success"] = TempData["updatequestionbanksuccess"];
}

@section title{
    Danh sách ngân hàng câu hỏi


}

@section script{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <script>
        @*$('#selectCategoryId option[value=@ViewBag.Category.Id]').attr('selected','selected');*@
        var value = $('#selectCategoryId option:selected').val();
        var categoryId;
        if (value == "0") {
            categoryId = '@firstItem';
        } else {
            categoryId = value;
        }
      
        $('#addQuestionBank').on('click', function () {
                console.log('vao');
                window.location.href = "/Admin/QuestionBank/AddQuestionGroup?categoryId=" + categoryId;
        });
       
    </script>
    <script src="~/js/questiongroup.js"></script>


}

<div class="row">
    <div class="col-md-5">
        <a id="addQuestionBank" class="btn btn-danger">Thêm mới ngân hàng câu hỏi</a>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-4">
        <select name="TestCategoryId" id="selectCategoryId">
            @{
                <option value="0" selected> -- Chọn chuyên mục</option>
                foreach (var item in listCategory)
                {

                    <option value="@item.Id">@item.Name</option>
                }
            }
        </select>
        <button class="btn btn-danger" id="searchQuestionBank">Tìm kiếm</button>
    </div>

</div>
<div class="row text-questionbank">

    <p>
        Ngân hàng câu hỏi là một nhóm các câu hỏi cùng trình độ thuộc một chuyên mục. VD: Chuyên mục Tiếng Anh có 3 ngân hàng câu hỏi: Trình độ A, Trình độ B, Trình độ C.
    </p>
</div>



<div id="listQuestionBank">
</div>
<div id="pagination" class="pagination"></div>

